.contenedor_PrincipialAdmin{
    --s: 200px; /* control the size */
    --c: #696969; /* first color */
    
    --_g: #0000 8%,var(--c) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c) 0 67%,#0000 0 83%,var(--c) 0 92%,#0000 0),
      #023e50; /* second color */
    background-size: var(--s) var(--s);
    min-height: 100vh;
      width: 1360px;
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.contenedorNUmero1{
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
  backdrop-filter: blur(20px);
   border-radius: 5px;
  width:630px;
  height:890px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 30px rgba(0,0,0, .5);
}




.contenedorNUmerodos{
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
  backdrop-filter: blur(20px);
   border-radius: 5px;
  width:630px;
  height:400px;
  margin: 10px;
  box-shadow: 0 0 30px rgba(0,0,0, .5);
  
}



.contenedor_cuarto{
  padding: 10px;
  display: flex;
}

.contenedor_final{
 margin-bottom: 50px;
}

.documentacion1{
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}