.body{
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
  min-height: 100vh;
    width: 1358px;
     display: flex;
     align-items: center;
     justify-content: center;
}


.wraper{
    width: 400px;
    height: 900px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin-top: 120px;
    margin-bottom: 70px;
}



.form_box_register h2{
   color: #fff;
}

.form_box_register p{
    color: #fff;
    text-align:left;
    font-size: 19px;
 }
 .form_box_register a{
    color: #fff;
    display: block;
 }

 .input_box{
   position: relative;
   width: 100%;
   height: 50px;
   border-bottom: 2px solid #fff;
   margin: 30px 0;

 }
 .input_box option{
  background-color: #85a2e0;

}


 .input_box input{
   width: 90%;
   height: 100%;
   border: none;
   outline: none;
   background: transparent;
   color: #ffffff;
   font-size: 19px;
   margin: 5px;
 }

 .input_box select{
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 19px;
  margin: 5px;
}


 .input_box label{
   position: absolute;
   top: 20px;
   left: 60px;
   transform: translate(-50%);
   font-size: 19px;
   pointer-events: none;
   transition: .4s;
 }

 .input_box input:focus~label,
 .input_container input:not(:placeholder-shown)~label{
   top: -9px;
}


 .icon{
    color: #fff;
 }

 .remember{
   color: #fff;
   margin-bottom: 10px;
   font-size: 19px;
 }

 .loginRedirect{
   list-style: none;
   text-decoration: none;
   margin-bottom: 10px;
   font-size: 19px;
 }

 .loginRedirect:hover{
  color: #4783dd;
 }

 .labelAdmin{
   margin-left: 40px;
   color: #fff;
 }

 .labelUser{
   margin-left: 5px;
   color: #fff;
 }

 .LabelCargo{
   margin-left: 30px;
   color: #fff;
 }

 .labelEmail{
   margin-left: 51px;
   color: #fff;
 }

 .labelEdad{
   margin-right: 20px;
   color: #fff;
 }

 .labelNames{
   margin-left: 60px;
   color: #fff;
 }

 .labelPassword{
   margin-left: 25px;
   color: #fff;
 }

 .buton_register{
   width: 100%;
   height: 45px;
   background-color: transparent;
   border: 2px solid #fff;
   color: #fff;
   border-radius: 5px;
   font-size: 19px;
   margin-top: 10px;
   cursor: pointer;
   transition:.5s;
 }

 .buton_register:hover{
   background-color: #fff;
   color: #000;
   transform: scale(1.1);
 }

 .input_box input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.jefe{
  margin-left: 17px;
}